html body {
	padding: 0;
	margin: 0;
	font-family: 'Muli', sans-serif;
	font-size: 20px;
	/* background-image: url('https://images.pexels.com/photos/257856/pexels-photo-257856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover; */
}

header, main, footer {
 	padding-left: 300px;
}
.carousel .carousel-slider{
	margin-left: -15px;
	width: 100% !important;
}
@media only screen and (max-width : 992px) {
 	header, main, footer {
		padding-left: 0;
  	}
}
