@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

html, body {
	padding: 0 !important;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 17px;
	height: 100%;
	width: auto;
}

header, main, footer {
	padding-left: 300px;
}
h1,h2 {
	font-weight: 700;
}

.collapsible {
	margin: 0px;
}
.sidenav .user-view {
	margin:0px;
	padding: 10px;
}
.sidenav li {
	line-height: 0px;
}
.sidenav li > a {
	font-weight: 500;
	color: white;
	font-size: 20px;
}
.sidenav li > a > i {
	color: #FFFFFF;
	font-size: 25px;
}
.sidenav-footer {
	bottom: 0;
	height: 130px;
	position: fixed;
	/* background-color: transparant; */
	width: 100%;
}
.sidenav-footer > a > i {
	color: rgba(255, 255, 255, 0.84);
	transition: 0.2s ease;
	margin: 0px 10px;
}
.sidenav-footer > a:hover {
	color: rgba(255, 255, 25, 0.30);
	transition: 0.2s ease;
}
#home {
	height: 800px;
}
.light-blue.lighten-2 {
	background-color: #1FACED !important;
}
@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
	#home {
		height: 400px;
	}

}
